.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.title-container {
  margin-bottom: 40px;
}

.title-text {
  font-size: 48px;
  color: #ff6b81;
  font-weight: bold;
  text-align: center;
}

.buttons button {
  padding: 12px 24px;
  margin: 0 10px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background-color: #45a049;
  color: white;
}


.signup-btn:hover {
  background-color: #1976d2;
  color: white;
}

.start-btn:hover {
  background-color: #fb8c00;
  color: white;
}